<body>
    <div class="picture-part">
        <div class="image-container">
          <img src="assets/images/mirnasBuilding.jpeg">
          <div class="text-container">
            <label class="picture-text">About Us</label>
          </div>
        </div>
      </div>

      <br><br><br><br><br><br>

      <div class="history-part" data-aos="fade-up">
        <h3>Our History</h3>
        <br><br>
        <p>Since 1992, Mirna's Cafe offers a lavish and expansive 
            menu comprised of the finest in Italian & Mediterranean dishes, from creamy homemade hummus and 
            the area’s authentic fish and pasta dishes, to chicken and veal which all cooked to order. Our 
            tasty specials from our famous frenched rack of lamb, crab cakes, our seafood jambalaya and many 
            many more are expertly prepared and final analysis, are the primary reasons why Mirna’s Café reigns
             supreme as the ultimate in Montgomery County PA’s’ Eclectic Italian Mediterranean cuisine.
        </p>

        <br><br>

        <p>
            Mirna’s Chefs with the dedicated help of our kitchen employees specialize in preparing the most 
            famous recipes that were collected from the Italian & Mediterranean region of the world and prepared
             especially for you in our humble kitchen.
        </p>
      </div>

      <br><br><br><br>      <br><br><br><br>


      <div class="general-part" data-aos="fade-up">
        <h3>General Information</h3>
        <br><br><br><br>
        <div class="general-text">
            <div class="left-side">
                <p><strong>Payment Type:</strong> Cash, Visa, Mastercard, Amex, Discover</p>
                <br>
                <p><strong>Reservations:</strong> Recommended</p>
                <br>
                <p><strong>Attire:</strong> Casual</p>
                <br>
                <p><strong>Dine in, take out, catering & delivery</strong></p>
                <br>
                <p><strong>Parking:</strong> Plenty</p>
                <br>
                <p><strong>Outdoor Seating:</strong> Yes</p>    
                <br>
                <p><strong>Corkage Fee:</strong> None</p>


            </div>
            
            <div class="right-side">
                <p><strong>Atmosphere:</strong> Casual Bistro</p>
                <br>
                <p><strong>Handicap Accessible:</strong> Yes</p>
                <br>
                <p><strong>Private Parties:</strong> Yes</p>
                <br>
                <p><strong>Gift Certificate:</strong> Available in any amount</p>
                <br>
                <p><strong>Smoking:</strong> No</p>
                <br>
                <p><strong>Masks:</strong> Optional</p>
                <br>
                <p><strong>BYOB:</strong> Yes</p>      

            </div>

        </div>
      </div>

    <br><br><br><br>

    <footer>
        <div class="footer-content">
          <div class="business-hours">
            <h4>Hours</h4>
            <ul>
              <li>Sunday: 3:00PM - 9:00PM</li>
              <li>Monday: Closed</li>
              <li>Tues - Thur: 11:30AM - 9:00PM</li>
              <li>Friday: 11:30AM - 10:30PM</li>
              <li>Saturday: 3PM - 10:30PM</li>
            </ul>
          </div>
          <div class="contact-us">
            <h4>Contact Us</h4>
            <br>
            <p>758 Dekalb Pike, Blue Bell, PA 19422</p>
            <p>Phone: (610)-279-0500</p>
            <br>
            <!-- <a routerLink = "/contact-us" class="contact-btn">Contact Us</a> -->
          </div>
        </div>
      </footer>

      <div class="reserve-fixed">
        <a target ="_blank" href = "https://tableagent.com/philadelphia/mirnas-cafe/" ><i class="fas fa-calendar"></i>    Book A Table </a>
    </div>

</body>