<body>
    <!-- <div class="topPart">
        <img class="image" src= "https://media.architecturaldigest.com/photos/5d2c9e26ae81990009f6429f/16:9/w_2560%2Cc_limit/TAK%2520Room_by%2520Adrian%2520Gaut.jpg">
        <h2 class="image-text">Private Parties</h2>
    </div> -->

    <header class = "main-header">
        <h1><span></span> Private Parties</h1>
        <p>Celebrate The Special Moments In Life</p>
    </header>

    <main class="container">

        <section class="card">
            <img src="assets/images/PartyPic.jpeg" alt ="">
            <div>
                <h3>Your Own Private Section</h3>
                <p>Celebrate the occasion in your own private section! We provide our medium size room and or 
                    our larger dining area to fit the needs of your celebration. We are happy to rearrange the
                    dining room to fit the design of your celebration.
                </p>
                   <!--  <a class = "btn">View Rooms</a>-->
            </div>
        </section>

        <section class="card" data-aos="fade-left">
            <img src="assets/images/PrivatePartyMenu.jpeg" alt ="">
            <div>
                <h3>Choose Your Own Menu</h3>
                <p>You are free to pick your favorite dishes from our large menu into your own party menu!
                    We are pleased to modify  any dish to the needs of your guests.
                    Enjoy a four course meal to celebrate the occasion.</p>
                    <!-- <a class = "btn">See Past Menus</a> -->
            </div>
        </section>

        <section class="card" data-aos="fade-right">
            <img src="assets/images/PPPic.jpeg" alt ="">
            <div>
                <h3>Decorate To Your Likings</h3>
                <p>Decorate the private area to the theme of your party! We offer numerous colored napkins to
                    fit the aesthetic of your design. Your wish is our command to make the occasion as memorable
                    as possible.
                </p>
                  <!--  <a class = "btn">View Past Decorations</a> -->
            </div>
        </section>

        <section class="card" data-aos="fade-left">
            <img src="assets/images/Barpicture.jpeg" alt ="">
            <div>
                <h3>Enjoy Drinks At Our Bar</h3>
                <p>Get served splendid drinks at our bar area! We are happy to serve your guests any drink
                    you bring in. We also provide unlimited fountain drinks in our private party package.
                </p>
                   <!-- <a class = "btn">See Our Bar Area</a> -->
            </div>
        </section>

        <section class="card" data-aos="fade-right">
            <img src="assets/images/filopicture.jpeg" alt ="">
            <div>
                <h3>Our Signature Hors D'oeuvres</h3>
                <p>Enjoy our exquisite hors d'oeuvres as guests filter into the dining room!
                    Our bruschetta and spinach feta filo are delicious starters that are passed around
                    until guests have a chance to get their seats.</p>
                  <!--  <a class = "btn">View Our Hors D'oeuvres</a> -->
            </div>
        </section>
    </main>


    <h1 data-aos = "fade-left">Book Your Private Party Here</h1>
    <br><br>
    <div data-aos = "fade-right" class="hero">
        <form action="https://formsubmit.co/mirnas_cafe@yahoo.com" method="post">

            <div class="row">
                <div class="input-group">
                    <input type ="text" id="first-name" name="First Name" placeholder=" " required>
                    <label for="name">First Name</label>
                </div>

                <div class="input-group">
                    <input type ="text" id="last-name" name="Last Name" placeholder=" " required>
                    <label for="last-name">Last Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-group">
                    <input type ="email" id="email" name="Email" placeholder=" " required>
                    <label for="email">Email</label>
                </div>
                
                <div class="input-group">
                    <input type ="number" id="phone-number" name="Phone Number" placeholder=" " required>
                    <label for="phone-number">Phone Number</label>
                </div>
            </div>

            <div class="row">
                <div class="input-group">
                    <input type ="text" id="occasion" name="Occasion and Date" placeholder=" " required>
                    <label for="occasion">Occasion and Date</label>
                </div>

                <div class="input-group">
                    <input type ="number" id="guests" name="Number of Guests" placeholder=" " required>
                    <label for="guests">Number Of Guests</label>
                </div>
           </div>

            <div class="input-group">
                <textarea type ="text" id="comments" rows="8" name="Additional Comments" placeholder=" " required></textarea>
                <label for="comments">Additional Comments</label>
            </div>
            
                <button class="submit-button" type="submit">Submit</button>
         </form>
         <br><br>
    </div>

    <br><br><br>
    <footer>
      <div class="footer-content">
        <div class="business-hours">
          <h4>Hours</h4>
          <ul>
            <li>Sunday: 3:00PM - 9:00PM</li>
            <li>Monday: Closed</li>
            <li>Tues - Thur: 11:30AM - 9:00PM</li>
            <li>Friday: 11:30AM - 10:30PM</li>
            <li>Saturday: 3PM - 10:30PM</li>
          </ul>
        </div>
        <div class="contact-us">
          <h4>Contact Us</h4>
          <br>
          <p>758 Dekalb Pike, Blue Bell, PA 19422</p>
          <p>Phone: (610)-279-0500</p>
          <br>
        <!--  <a routerLink = "/contact-us" class="contact-btn">Contact Us</a> wont work for somee reason-->
    </div>
      </div>
    </footer>

</body>