<body>
    <br><br>
    <h1>Contact Us</h1>

    <br><br><br><br>
    <div class="top-part">
        <div class="address">
            <h3>Address</h3> <br>
            <label>758 Dekalb Pike Blue Bell, PA</label>
        </div>
        <div class="reserve">
            <h3>Phone Number</h3> <br>
            <label>610-279-0500</label><br>
        </div>
        <div class="email">
            <h3>Email</h3> <br>
            <label>cfadel525@gmail.com</label>
        </div>
    </div>
    <br><br><br>
    <div class="map-container">
        <iframe class= "map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3048.7737848448614!2d-75.2869879!3d40.16959010000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6bcd140735883%3A0xe327d8cee90bf89c!2sMirna&#39;s%20Cafe!5e0!3m2!1sen!2sus!4v1685757471233!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    <br><br><br>

    <h1>Get In Contact</h1>
    <br><br>
    <div class="hero">
        <form action="https://formsubmit.co/cfadel525@gmail.com" method="post">


            <div class="row">
                <div class="input-group">
                    <input type ="text" id="first-name" name="First Name" placeholder=" " required>
                    <label for="name">First Name</label>
                </div>

                <div class="input-group">
                    <input type ="text" id="last-name" name="Last Name" placeholder=" " required>
                    <label for="last-name">Last Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-group">
                    <input type ="email" id="email" name="Email" placeholder=" " required>
                    <label for="email">Email</label>
                </div>
                
                <div class="input-group">
                    <input type ="number" id="phone-number" name="Phone Number" placeholder=" " required>
                    <label for="phone-number">Phone Number</label>
                </div>
            </div>

            <div class="input-group">
                <textarea type ="text" id="comments" rows="8" name="Additional Comments" placeholder=" " required></textarea>
                <label for="comments">Additional Comments</label>
            </div>
            
                <button class="submit-button" type="submit">Submit</button>
         </form>
         <br><br>
    </div>

    <br><br><br>
    <footer>
      <div class="footer-content">
        <div class="business-hours">
          <h4>Hours</h4>
          <ul>
            <li>Sunday: 3:00PM - 9:00PM</li>
            <li>Monday: Closed</li>
            <li>Tues - Thur: 11:30AM - 9:00PM</li>
            <li>Friday: 11:30AM - 10:30PM</li>
            <li>Saturday: 3PM - 10:30PM</li>
          </ul>
        </div>
        <div class="contact-us">
          <h4>Contact Us</h4>
          <br>
          <p>758 Dekalb Pike, Blue Bell, PA 19422</p>
          <p>Phone: (610)-279-0500</p><br>
          <a href="/contact-us" class="contact-btn">Contact Us</a>
        </div>
      </div>
    </footer>
</body>