<body>
    <header>
        <a  class= "logo"  href = "/" >Mirna's Cafe</a>
        <ul class = "navbar">
            <li><a href="/menu">Menu</a></li>
            <li><a target ="_blank" href = "https://tableagent.com/philadelphia/mirnas-cafe/">Reserve</a></li>
            <li><a href="/private-parties">Private Parties</a></li>
            <li><a href ="/contact-us">Contact Us</a></li>
            <li><a (click)="navigateAndScroll()">Order</a></li>

        </ul>
        <div class = "main">
            <div class = "bx bx-menu" id ="menu-icon" (click)= "toggleMenu()"></div>
        </div>


    </header>
</body>