<body>
    <header>
        <label  class= "logo scroll-disappear"  routerLink = "/" >Mirna's Cafe</label>
        <ul class = "navbar">
            <li><label routerLink = "/" class ="active">Home</label></li>
            <li><label routerLink="/menu">Menu</label></li>
            <li><a href = "https://tableagent.com/philadelphia/mirnas-cafe/">Reserve</a></li>
            <li><label routerLink="/private-parties">Private Parties</label></li>
            <li><label routerLink ="/order-online">Order Online</label></li>

        </ul>
        <div class = "main">
            <div class = "bx bx-menu" id ="menu-icon" (click)= "toggleMenu()"></div>
        </div>


    </header>
</body>