<body>
    <div class="top-part">
      <img class ="image-container" src="/assets/images/MirnasHomePagePicture.jpeg">
        <h1 class="top-text">Welcome to Mirna's</h1>
    </div>

    <br><br>
    <div data-aos ="fade-up" class="info-part">
        <h2>An esteemed dining establishment, serving Mediterranean
            and Italian cuisine since 1992
        </h2>
        <p >Since 1992, Mirna’s Restaurant & Grill, BYOB, has provided the Montgomery County area with Italian & 
            Mediterranean food with quality second to none. From their appetizers to entrees, sandwiches to desserts, the 
            entire menu is home-made with only the freshest of ingredients. We offer a lavish and expansive 
            menu comprised of the finest in Italian & Mediterranean dishes, from creamy homemade hummus and 
            the area’s authentic fish and pasta dishes, to chicken and veal which are all cooked to order. </p>
    </div>
    <br><br>
    <div class="menu-part" data-aos="fade-up">
        <div class="image-container1">
          <img src="assets/images/menupic.jpg">
          <div class="text-container">
            <label class="menu-text" routerLink="/menu" >Our Menus</label>
          </div>
        </div>
      </div>

      <br><br><br><br><br><br>

      <div class="reserve-part" data-aos="fade-up">
        <img class ="reserveImage" src="assets/images/Diningroompicture.jpeg">

        <div class="reserve-text">
            <h4>Reserve Your Table</h4>
            <br><br>
            <p>Save the date as you book your upcoming dinner with us and enjoy our fresh and authentic
              Mediterranean and Italian cuisines. Reserve online or call in ahead of time to plan your 
              next gathering with friends. Enjoy your delicious meals in our beautiful indoor and outdoor dining
              sections. As we are BYOB, don't forget to bring your own alcohal to enjoy the night away.
            </p>
                 <br>
                <a class ="pp-btn" target="_blank" href="https://tableagent.com/philadelphia/mirnas-cafe/">Reserve</a>
        </div>
        
      </div>
      <br><br><br><br>

      
      <div class="private-parties-part" data-aos="fade-up">
        <div class="private-parties-text">
            <h4>Arrange Your Private Party</h4>
            <br><br>
            <p>What better way to celebrate the special moments in life than to throw a memorable party at 
              Mirna’s Restaurant & Grill, that will leave you and your guests reminiscing for years to come. 
              We have a decade of experience hosting private parties for all sorts of occasions, including baby 
              showers, bridal showers, rehearsal dinners, birthday parties, anniversaries, holiday parties, 
              business parties, bar and bah mitzvahs, christenings, graduations, high-school reunions, caterings
               and weddings!</p>
                 <br>
                <label routerLink="/private-parties" class ="pp-btn" >Book A Private Party</label>
        </div>
        <img src="assets/images/PrivatePartyHomePage.jpeg">
      </div>

      <br><br><br><br><br><br>

      <div class="order-online-text" data-aos="fade-up"  id="target-section">
        <h2>Order Online</h2>
      </div>
      <br><br><br><br>

      <div class="order-online" data-aos="fade-up">
        <div class="logo-container">
          <div class="logo-wrapper"><a target= "_blank" href="https://www.ubereats.com/store/mirnas-cafe/kaoRp5qOSveL_cGRzfXWNg"><img class="logo logo-left" src="assets/images/Uber-Eats-logo.png"></a></div>
          <div class="logo-wrapper"><a target="_blank" href="https://www.doordash.com/store/mirna's-cafe-blue-bell-164135/"><img class="logo logo-middle" src="assets/images/DoorDash-logo.png"></a></div>
          <div class="logo-wrapper"><a target="_blank" href ="https://www.grubhub.com/restaurant/mirnas-cafe-758-dekalb-pike-blue-bell/2443370"><img class="logo logo-right" src="assets/images/Grubhub-Logo v1.png"></a></div>
        </div>
      </div>
      

      
      


      <br><br><br>
    <footer>
      <div class="footer-content">
        <div class="business-hours">
          <h4>Hours</h4>
          <ul>
            <li>Sunday: 3:00PM - 9:00PM</li>
            <li>Monday: Closed</li>
            <li>Tues - Thur: 11:30AM - 9:00PM</li>
            <li>Friday: 11:30AM - 10:30PM</li>
            <li>Saturday: 3PM - 10:30PM</li>
          </ul>
        </div>
        <div class="contact-us">
          <h4>Contact Us</h4>
          <br>
          <p>758 Dekalb Pike, Blue Bell, PA 19422</p>
          <p>Phone: (610)-279-0500</p>
          <br>
          <!-- <a routerLink = "/contact-us" class="contact-btn">Contact Us</a> -->
        </div>
      </div>
    </footer>
      

    <div class="reserve-fixed">
      <a target ="_blank" href = "https://tableagent.com/philadelphia/mirnas-cafe/" ><i class="fas fa-calendar"></i>    Book A Table </a>
    </div>


</body>