body{
    min-height: 300vh;
    overflow: hidden;
}

.image-container{
    min-width: 100%;
    max-height: 600px;
    width: auto;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid black;
}


.reserveImage{
  max-height: 450px;
}
h1{
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: black;
}

.top-text{
  color: white;
  background-color: rgb(0,0,0, .4);
  border: 1px solid white;
  border-radius: 5px;
  padding-right: 25px;
  padding-left: 25px;
  font-style: italic;
}

h2{
    color: brown;
    font-size: 21px;
}

.info-part{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 13%;
    margin-right: 13%;
}

.info-part p{
    margin-top: 25px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    font-size: 14.5px;
    color: rgb(78, 78, 78);
}

.menu-part {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container1 {
    position: relative;
    min-width: 100%;
    max-height: 550px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    

  }
  .image-container1 img{
    max-height: 550px;
    min-width: 100%;
    object-fit: cover;
    border-top: 1x solid black;
    border-bottom: 1px solid black;

  }
  
  .menu-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border: 1.5px solid white;
    transition: ease 1s;
    border-radius: 10px;
  }

  .menu-text:hover {
    background-color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
    color: brown;
    border: 1.5px solid black;


  }
  

  .private-parties-part {
    display: flex;
    align-items: center;

    margin-left: 7.5%;
    margin-right: 7.5%;
  }
  
  .private-parties-part img {
    width: 40%; /* Adjust the width as needed */
    object-fit: cover;
    min-height: 450px;
    transform: translateX(-25px);
    border: 1px solid black;
    border-radius: 10px;
  }
  .private-parties-text {
    left: 50%;
    right: 50%;
    padding: 50px;
    transform: translateX(16px);
    
  }
  
  .private-parties-text h4 {
    font-size: 30px; /* Adjust the font size as needed */
    font-weight: bold;
    color: brown; /* Adjust the color as needed */
  }

  .private-parties-part p{
    color: rgb(78, 78, 78);
    width: 90%;
  }

  .pp-btn{
    border: 1px solid black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    cursor: pointer;
    transition: ease 1s;
    color: black;
  }

  .pp-btn:hover{
    background-color: rgba(253, 255, 157, 0.3);
    color: brown;
  }

  .private-parties-text .pp-btn{

    align-items: center;
    justify-content: center;
    left: 20%;
  }

  .reserve-part {
    display: flex;
    align-items: center;

    margin-left: 7.5%;
    margin-right: 7.5%;
  }
  
  .reserve-part img {
    width: 40%; /* Adjust the width as needed */
    object-fit: cover;
    min-height: 450px;
    transform: translateX(-25px);
    border: 1px solid black;
    border-radius: 10px;
    transform: translateX(25px);

  }
  
  .reserve-text {
    left: 50%;
    right: 50%;
    padding: 50px;
    transform: translateX(16px);
    
  }

  .reserve-text h4 {
    font-size: 30px; /* Adjust the font size as needed */
    font-weight: bold;
    color: brown; /* Adjust the color as needed */
  }

  .reserve-text .pp-btn{

    align-items: center;
    justify-content: center;
    left: 30%;
  }

  .reserve-part p{
    color: rgb(78, 78, 78);
    width: 90%;
  }

  footer {
    background-color: #f2f2f2;
    padding: 30px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  
  .business-hours,
  .contact-us {
    flex: 1;
  }
  
  h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }


  
  li {
    margin-bottom: 5px;
  }
  
  .contact-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

  }
  
  .contact-btn:hover {
    background-color: #555;
    cursor: pointer;
  }

  .order-online-text h2{
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-style: none;
  }
  

.order-online {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  max-width: 70%;
  height: auto;
  position: relative;
  cursor: pointer;
  
}

.logo-wrapper {
  position: relative;
  display: inline-block;
  max-width: 70%;
  transform: translateX(60px);
}


.logo-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 36.5%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: black;
  transition: width 1s ease;
}

.logo-wrapper:hover::after {
  width: 70%;
}

.reserve-fixed{
  position: fixed;
  right: 6%;
  bottom: 6%;
  padding: 15px;
  background-color: black;
  border: 1px solid white;
  font-size: 15px;
  border-radius: 10px;
  transition: ease .5s;
}

a{
  color: white;
}

.reserve-fixed:hover{
  background-color: rgb(67, 67, 67);
}

  @media(max-width: 675px){



    .top-text{
        font-size: 28px;
        width: 285px;
    }

    .image-container{
        min-width: 100%;
        max-height: 550px;
        width: auto;
        height: auto;
        object-fit: cover;
        border-bottom: 1px solid black;
    }

    .top-part{
      width: fit-content
    }

    .info-part h2{
        font-size: 14px;
    }

    .info-part p{
        font-size: 12px;
        margin-left: -5%;
        margin-right: -5%;
    }

    .image-container1 img{
        max-height: 450px;
        min-width: 100%;
        object-fit: cover;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
      }

      .reserve-part{
        flex-direction: column;
      }

        
    .reserve-part img {
        width: 80%; /* Adjust the width as needed */
        min-height: 350px;
        transform: translateX(0px);
  }

  .reserve-text p{
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .reserve-text h4{
    width: 400px;
    margin-left: 0;
    margin-right: 0;
    font-size: 26px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translateX(-15px);
  }
  .reserve-text .pp-btn{

    position: relative;
    transform: translateX(300px);
    

  }


  .private-parties-part{
    flex-direction: column-reverse;
  }

  .private-parties-part img {
    width: 80%; /* Adjust the width as needed */
    min-height: 350px;
    transform: translateX(0px);
  }

  .private-parties-text{
    left: 50%;
    right: 50%;
    padding: 50px;
    transform: translateX(20px);

  }

  .private-parties-text h4{
    width: 400px;
    margin-left: 0;
    margin-right: 0;
    font-size: 26px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translateX(-15px);
  }

  .private-parties-text p{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .private-parties-text .pp-btn{

    position: relative;
    transform: translateX(300px);
    

  }

  .footer-content{
    font-size: 10px;
  }
  h4{
    font-size: 14px;
  }

  .menu-text{
    font-size: 17px;
  }


  
  .logo-container{
    transform: translateX(-35px);
  }

  .order-online-text h2{
    font-size: 35px;
  }

  .reserve-fixed{
    position: fixed;
    right: 4%;
    bottom: 4%;
    padding: 15px;
    font-size: 12px;
    border-radius: 10px;
  }
}


