<body>
    <div class="box">
        <div class="dropdown" (click) = "toggleArrow()"> {{name}}
            <span class = "left-icon"></span>
            <span class = "right-icon"></span>
            <div class="items">
                <label style="--i:1" (click) = "lunchClick()"><span></span>Lunch Menu</label>
                <label style="--i:2" (click) = "dinnerClick()"><span></span>Dinner Menu</label>
                <label style="--i:3" (click) = "dinnerSpecialsClick()"><span></span>Dinner Specials</label>
                <label style="--i:4" (click) = "desertClick()"><span></span>Desert Menu</label>
            </div>

        </div>

        <br><br><br>

        <span *ngIf="name === 'Lunch'">

            <h3>Soups</h3>

            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='soup'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='soup'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='soup'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='soup'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>

            <br><br><br>
            <h3>Salads</h3>

            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='salad'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='salad'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='salad'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='salad'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>

            <br><br><br>

            <p class = "salad-text">Add grilled chicken to any salad 7.00 <br>
                Add 4 grilled shrimp to any salad 8.00 <br>
                Add cajun shrimp & chicken to any salad 8.00 <br>
                Add grilled beef filet strips 8.00 <br>
                Add 8oz grilled salmon to any salad 12.00 <br>
                Sharing Salads 2.00 Extra
            </p>

            <br><br><br>
            <h3>Cold Platters</h3>

            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='platter'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='platter'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='platter'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='platter'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>


            <br><br><br>

            <h3 class>Cold Sandwiches</h3>
            <p class = "cold-sandwich-text">All sandwiches are served on sesame French bread with Mirna's potato salad and fresh fruits (hogie style)</p>

            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='sandwich'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='sandwich'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='sandwich'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='sandwich'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>



            <br><br><br>
            <h3>Mirna's Grilled Pita Wraps</h3>
            <p class = "cold-sandwich-text">Served with Mirna's homemade potato salad and fruits</p>


            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='wrap'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='wrap'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='wrap'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='wrap'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>


            <br><br><br>
            <h3>Sandwiches And Burgers From The Grill</h3>
            <p class = "cold-sandwich-text">Sandwiches are served on sesame French bread, Burgers on Kaiser roll with French fries and fresh fruits</p>


            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='grill'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='grill'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='grill'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='grill'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>



            <br><br><br>
            <h3>Pastas</h3>
            <p class = "cold-sandwich-text">All pastas are cooked to order</p>

            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='pasta'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='pasta'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='pasta'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='pasta'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>


            <br><br><br>
            <h3>Entrées</h3>
            <p class = "cold-sandwich-text">The following entrées are served with vegetable du jour OR side of spaghetti in our marinara sauce</p>

            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='entree'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='entree'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='entree'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='entree'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>
            <br><br><br><br><br>
            <p class="warnings">*Consuming raw or undercooked meats, poultry, seafood, shellfish or eggs may increase your risk of food-borne illness</p>

        </span>

        <span *ngIf="name === 'Dinner'">

            <h3>Soups</h3>

            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='soup'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='soup'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='soup'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='soup'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>

            <br><br><br>
            <h3>Appetizers</h3>

            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='appetizer'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='appetizer'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='appetizer'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='appetizer'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>

            <br><br><br>
            <h3>Salads</h3>

            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='salad'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='salad'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='salad'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='salad'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>

            <br><br><br>
            <p class = "salad-text">Add grilled chicken to any salad 7.00 <br>
                Add 4 grilled shrimp to any salad 8.00 <br>
                Add cajun shrimp & chicken to any salad 8.00 <br>
                Add grilled beef filet strips 8.00 <br>
                Add 8oz grilled salmon to any salad 12.00 <br>
                Sharing Salads 2.00 Extra
            </p>

            <br><br><br>
            <h3>Pastas</h3>
            <p class = "cold-sandwich-text">All pastas are cooked to order</p>

            

            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='pasta'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='pasta'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='pasta'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='pasta'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>

            <br><br><br>
            <h3>Entrées</h3>
            <p class = "cold-sandwich-text">The following entrees are served with potato and vegetable du jour</p>


            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='entree'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='entree'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='entree'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='entree'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>

            <br><br><br><br><br>
            <p class="warnings">*Consuming raw or undercooked meats, poultry, seafood, shellfish or eggs may increase your risk of food-borne illness</p>

        </span>

        <span *ngIf="name === 'Specials'">

            <h3>Soups</h3>

            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='soup'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='soup'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='soup'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='soup'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>

            <br><br><br>
            <h3>Appetizers</h3>

            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='appetizer'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='appetizer'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='appetizer'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='appetizer'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>

            <br><br><br>
            <h3>Entrées</h3>
            <p class = "cold-sandwich-text">The following entrees are served with potato and vegetable du jour</p>


            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0 && food.type ==='entree'">{{food.item}} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 0 && food.type ==='entree'" >{{food.description }} {{food.price}} <br><br></span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1 && food.type ==='entree'">{{food.item }} <br></span>
                        <span class = "description-text" *ngIf="i % 2 === 1 && food.type ==='entree'" >{{food.description }} {{food.price}} <br><br></span>
                    </p>
                </div>
            </div>
            <br><br><br><br><br>
            <p class="warnings">*Consuming raw or undercooked meats, poultry, seafood, shellfish or eggs may increase your risk of food-borne illness</p>
        </span>


        <span *ngIf="name === 'Deserts'">

            <h3>Deserts</h3>
            <div class="food-text">
                <div class ="leftText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 0">{{food.item }}</span>
                        <br>
                        <span class = "description-text" *ngIf="i % 2 === 0" >{{food.description }} {{food.price}}                             <img class="image" src="{{food.pic}}">
                        </span>

                    </p>
                </div>
                  
                <div class = "rightText">
                    <p *ngFor="let food of activeMenu; let i = index">
                        <span class = "item-text" *ngIf="i % 2 === 1">{{food.item }}</span>
                        <br>
                        <span class = "description-text" *ngIf="i % 2 === 1" >{{food.description }} {{food.price}} <img class="image" src="{{food.pic}}">
                        </span>
                    </p>
                </div>
            </div>
        </span>

        



        <!-- <div class="food-text">
            <div class ="leftText">
                <p *ngFor="let food of activeMenu; let i = index">
                    <span class = "item-text" *ngIf="i % 2 === 0">{{food.item }}</span>
                    <br>
                    <span class = "description-text" *ngIf="i % 2 === 0" >{{food.description }} {{food.price}}</span>
                    <span *ngIf="name === 'Desert' && i % 2 === 0">
                        <img class="image" src="{{food.pic}}">
                    </span>
                </p>
            </div>
              
            <div class = "rightText">
                <p *ngFor="let food of activeMenu; let i = index">
                    <span class = "item-text" *ngIf="i % 2 === 1">{{food.item }}</span>
                    <br>
                    <span class = "description-text" *ngIf="i % 2 === 1" >{{food.description }} {{food.price}}</span>
                    <span *ngIf="name === 'Desert' && i % 2 === 1">
                        <img class="image" src="{{food.pic}}">
                    </span>
                </p>
            </div>
        </div> -->

        
    </div> 

  

</body>

